.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #191a1a;
    position: fixed;
    top: 0;
    left: 0;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 350px;
    padding: 30px;
    border-radius: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #1a1a1a;
    color: #fff;
    border: 1px solid #333;
}

.title {
    font-size: 28px;
    font-weight: 600;
    letter-spacing: -1px;
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 30px;
    color: #00FF00;
}

.title .circle {
    position: absolute;
    content: '';
    height: 16px;
    width: 16px;
    border-radius: 50%;
    left: 0px;
    animation: pulse 1s linear infinite;
}

.message {
    font-size: 14.5px;
    color: rgba(255, 255, 255, 0.7);
}

.flex {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.input-container {
    position: relative;
    width: 100%;
}

.input {
    background-color: #333;
    color: #fff;
    width: 100%;
    padding: 20px 5px 5px 10px;
    outline: none;
    border: 1px solid rgba(105, 105, 105, 0.397);
    border-radius: 10px;
}

.input:focus + label,
.input:valid + label {
    top: -15px;
    left: 10px;
    color: #bdb8b8;
    font-size: 12px;
    background-color: #1a1a1a;
    padding: 5px;
}

label {
    position: absolute;
    top: 20px;
    left: 10px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.9em;
    cursor: text;
    transition: 0.3s ease;
}

.submit {
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 10px;
    color: #fff;
    font-size: 16px;
    transition: transform 0.3s ease;
    background-color: #009846;
}

.submit:hover {
    background-color: #00FF00;
}

.signin {
    text-align: center;
    color: rgba(255, 255, 255, 0.7);
    font-size: 14px;
    margin-top: 20px;
}

.signin a {
    color: #00bfff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.signin a:hover {
    text-decoration: underline;
    color: royalblue;
}
